In [1]:
%load_ext autoreload
%autoreload 2
from ayniy.utils import init_notebook
init_notebook()

In [2]:
from ayniy.preprocessing.runner import Tabular
import yaml
from sklearn.model_selection import StratifiedKFold


f = open("configs/fe_00.yml", "r+")
configs = yaml.load(f)
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=7)

Using TensorFlow backend.
I0429 16:51:36.874028 140120484095360 file_utils.py:41] PyTorch version 1.0.1.post2 available.

In [3]:
tabular = Tabular(configs, cv)
# tabular.create()
X_train, X_test, y_train = tabular.load()

print(X_train.shape, X_test.shape)
X_train.head(2)

(14993, 393) (3972, 393)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PhotoAmt,fe_Type,fe_Breed1,fe_Breed2,fe_Gender,...,tfidf_nmf_0,tfidf_nmf_1,tfidf_nmf_2,tfidf_nmf_3,tfidf_nmf_4,tfidf_bm25_0,tfidf_bm25_1,tfidf_bm25_2,tfidf_bm25_3,tfidf_bm25_4,count_svd_0,count_svd_1,count_svd_2,count_svd_3,count_svd_4,count_nmf_0,count_nmf_1,count_nmf_2,count_nmf_3,count_nmf_4,count_bm25_0,count_bm25_1,count_bm25_2,count_bm25_3,count_bm25_4
0,1,3,176,0,0,0,6,0,1,1,2,2,2,1,1,100,2,3716,0,Nibble is a 3+ month old ball of cuteness. He ...,1.0,0.46048,0.021355,0.723912,0.37121,...,0.005126,0.014431,0.032894,0.048483,0.001267,0.618873,-0.182446,-0.127991,0.087391,-0.045948,1.905213,1.530234,-0.193781,0.194112,0.496972,0.000000,0.170372,0.035386,0.000000,0.03446,3.867774,-0.703145,-0.602203,-0.357914,-0.250509
1,1,1,144,0,0,0,1,0,2,2,3,3,3,1,1,0,13,1417,0,I just found it alone yesterday near my apartm...,2.0,0.46048,0.085579,0.723912,0.37121,...,0.010382,0.000000,0.012967,0.020615,0.005485,0.526104,-0.184632,-0.077929,0.020954,-0.043622,0.552723,-0.086892,-0.251738,-0.113369,-0.373737,0.002325,0.000834,0.006865,0.002599,0.04802,1.866722,-0.376301,0.107390,-0.216060,-0.201902