In [1]:
%load_ext autoreload
%autoreload 2
from ayniy.utils import init_notebook
init_notebook()

In [2]:
from ayniy.preprocessing.runner import Tabular
import yaml
from sklearn.model_selection import StratifiedKFold


f = open("configs/fe_00.yml", "r+")
configs = yaml.load(f)
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=7)

Using TensorFlow backend.

In [3]:
tabular = Tabular(configs, cv)

In [4]:
tabular.create()

[count_null] done in 0 s
[label_encoding] done in 0 s
[frequency_encoding] done in 0 s
[count_encoding] done in 0 s
[count_encoding_interact] done in 2 s
[matrix_factorization] done in 8 s
[target_encoding] done in 5 s
[aggregation] done in 0 s
[numeric_interact] done in 0 s
[get_tfidf] done in 21 s
[replace inf] done in 2 s

HBox(children=(IntProgress(value=0, max=373), HTML(value='')))

unique_cols:  []
duplicated_cols:  ['cei_State_RescuerID']
high_corr_cols:  []
[delete cols] done in 66 s
[save] done in 2 s

In [5]:
X_train, X_test, y_train = tabular.load()

In [6]:
print(X_train.shape)

(14993, 378)

In [7]:
X_train.head(2)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PhotoAmt,fe_Type,fe_Breed1,fe_Breed2,fe_Gender,...,Quantity_div_VideoAmt,Sterilized_plus_Vaccinated,Sterilized_mul_Vaccinated,Sterilized_div_Vaccinated,Sterilized_plus_VideoAmt,Sterilized_mul_VideoAmt,Sterilized_div_VideoAmt,Vaccinated_plus_VideoAmt,Vaccinated_mul_VideoAmt,Vaccinated_div_VideoAmt,tfidf_svd_0,tfidf_svd_1,tfidf_svd_2,tfidf_svd_3,tfidf_svd_4,tfidf_nmf_0,tfidf_nmf_1,tfidf_nmf_2,tfidf_nmf_3,tfidf_nmf_4,tfidf_bm25_0,tfidf_bm25_1,tfidf_bm25_2,tfidf_bm25_3,tfidf_bm25_4
0,1,3,176,0,0,0,6,0,1,1,2,2,2,1,1,100,2,3716,0,Nibble is a 3+ month old ball of cuteness. He ...,1.0,0.46048,0.021355,0.723912,0.37121,...,1.000000e+10,4,4,1.0,2,0,1.000000e+10,2,0,1.000000e+10,0.253324,-0.032928,0.083905,0.027290,-0.084485,0.005126,0.014431,0.032894,0.048483,0.001267,0.618873,-0.182446,-0.127991,0.087391,-0.045948
1,1,1,144,0,0,0,1,0,2,2,3,3,3,1,1,0,13,1417,0,I just found it alone yesterday near my apartm...,2.0,0.46048,0.085579,0.723912,0.37121,...,1.000000e+10,6,9,1.0,3,0,1.000000e+10,3,0,1.000000e+10,0.131442,-0.062370,0.014278,0.032006,0.002354,0.010382,0.000000,0.012967,0.020615,0.005485,0.526104,-0.184632,-0.077929,0.020954,-0.043622

In [8]:
from ayniy.preprocessing.text import get_tfidf